* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

html {
      /* Permite deslizar cuando haga clic en los links del menu */
      scroll-behavior: smooth;
}

:root {
      --default_font: Georgia, 'Times New Roman', Times, serif;
      --secondary_font: 'Barlow Condensed', sans-serif;
      --third_font: 'Noto Serif Display', serif;
}

/* CONTENEDOR MENU */
.contenedor_header {
      background: #0009;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 99;
}

.contenedor_header header {
      max-width: 1100px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
}

.contenedor_header header .logo a {
      font-family: var(--default_font);
      font-size: 36px;
      color: #ffffff;
      text-decoration: none;
}

.contenedor_header header ul {
      display: flex;
      list-style: none;
      margin: auto;
}

.contenedor_header header nav ul li a {
      text-transform: uppercase;
      font-family: var(--secondary_font);
      font-weight: bold;
      text-align: none;
      color: #fff;
      margin: 0 15px;
      padding: 3px;
      transition: .5s;
      text-decoration: none;
}

.contenedor_header header nav ul li a:hover {
      color: #535454;
}

/* HAMBURGER */
.nav_responsive {
      position: fixed;
      width: 100vw;
      top: 0;
      left: 0;
      z-index: 99;
      display: none;
      text-align: end;
}

.hamburger {
      cursor: pointer;
      margin-right: 0.8rem;
}

.hamburger input {
      display: none;
}

.hamburger svg {
      height: 3em;
      transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
      fill: none;
      stroke: #5f5f5f;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 3;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
      stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
      transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
      stroke-dasharray: 20 300;
      stroke-dashoffset: -32.42;
}


/* SECCION INICIO */
.inicio {
      background: linear-gradient(rgba(22, 25, 27, 0.8), rgba(19, 22, 23, 0.696)),
            url(../RESOURCES/img6.jpg) center / cover no-repeat fixed;
      height: 100vh;
      color: #fff;
      display: flex;
      align-items: center;
}

.inicio .contenedor__banner {
      padding: 20px;
      max-width: 350px;
      margin: auto;
      text-align: center;
      border-radius: 40px;
}

.inicio .contenedor__banner h1 {
      font-family: var(--default_font);
      margin-top: 40px;
      font-size: 4rem;
      letter-spacing: 1.8px;
}

/* Footer */
.content__footer {
      background-color: #000000;
      color: #fff;
      text-align: center;
      padding: 1.5rem 2.5rem;
}

.content__footer__title {
      font-size: 2.3rem;
      font-family: var(--third_font);
      text-shadow: 5px 15px 20px #000;
}

.content__footer__text {
      font-size: 1rem;
      font-family: var(--secondary_font);
}

.content__footer__text a {
      text-decoration: none;
      color: #347dc5bb;
}

/* Media */
@media (max-width:700px) {
      .contenedor_header{
            top: -100%;
            transition: all 0.5s ease-in-out;
      }

      .contenedor_header header {
            margin-top: 1.8rem;
            flex-direction: column;
      }

      .contenedor_header header ul {
            flex-direction: column;
      }

      .nav_responsive {
            display: block;
      }
}